In [2]:
# I wanted to ensure that we are using the same version of python -
# or at least are close in versions
from platform import python_version
print(python_version())
# This is because I had some issues with pandas and numpy that
# needed me to use the command
# conda update all
# --------------------
# --------------------
# You will need to add/download the sqlite3 package!
# --------------------
# --------------------

3.12.11

# Introduction to Databases

### Background:

So far in our python journey, we have relied on ‘flat files’ – easily portable, text file- such as .csv

These files get us pretty far….but sometimes we need tools to handle/store HUGE or complex databases. Often in biology, we have 2-d grids where rows are observations (or experimental units or samples) and columns are measurements

Ideally, each column should contain the same kind of information and each row should hold ALL the information related to a particular measurement

However, Biology offers some exceptions to this rule!
 * phylogenetic or any nested data isn’t easily coerced into a simple two dimensional grid --> relational databases are perfect for this situation!
 * Complex studies
    * Tracking several different but related elements of a study
 * Field sites with many specimens per site. If you want to update/change field site information, you would need to change it in many places

* What is a database?
    * Holds a collection of tables of related information
    * You normally need them when you have complex but structured data that is spread out over many tables
        * Columns (also called fields) describe data
        * Rows (also called records) are experimental units
        
* Relational database management system is a server program that manages >=1 database
    * Database files are not directly accessed by user –only the management system directly interacts with these files
    * Complex ‘tricks’ are used behind the scenes to query and process requests optimally
    * Reasonably portable between disparate systems since the files themselves are not accessed by the user so they just need to be able to read by the management program
    * Interactions are with structured query language
    
    * **example:**

![Anatomy](https://github.com/DAP2022/DataScienceTrainingCurriculum/raw/main/programming/pythonii/course_content_jupyter_notebooks/images/Anatomy_of_RDMS.png)

![Database](https://github.com/DAP2022/DataScienceTrainingCurriculum/raw/main/programming/pythonii/course_content_jupyter_notebooks/images/database.jpg)

* Why use a database?
    * Keeps records together
    * Keeps records separate from manipulations – so the original dataset is not modified

* Why don't we just use excel?
    * https://genomebiology.biomedcentral.com/articles/10.1186/s13059-016-1044-7

* okay, but why SQLite?
    * There are many available relational database management systems that are free, have wide support and are straight forward to learn (just like R and Python)
    * SQL is a language which includes commands, functions, variables and it follows a formal syntax
    * Since nearly all systems use a variation of SQL, you just need to learn it once and you should find future databases reasonably easy to use
    * You can interact with Python and with R (and Matlab, web servers etc) through interfaces available in modules --> this is particularly desirable since then you don’t have to import/export data sets
    * Searching (querying) databases WHILE MAINTAINING STRUCTURAL INTEGRITY OF THE DATA
    * IBM developed it in the 70’s and called it “Structured English QUEry Language” (SEQUEL) --> changed to SQL but you still hear both names
    * SIX basic operations get you quite far in SQL:
        * SELECT - Extracts columns(fields) from table or results from other query
        * APPEND - Adds calculated fields to the results
        * SORT - Orders results by a specified column
        * FILTER - Chooses records to include (True/False)
        * AGGREGATE (not a command – just the description) - Combines rows ie. SUM, MAX, MIN, AVERAGE
        * JOIN - Merges/joins two or more tables together

![Six_commands_SQL](https://github.com/DAP2022/DataScienceTrainingCurriculum/raw/main/programming/pythonii/course_content_jupyter_notebooks/images/Six_commands_SQL.png)

### SQLite

   * We focus on SQLite (https://en.wikipedia.org/wiki/SQLite)
        * It is free! It is Ubiquitous: used for the address books in Android phones
        * Simple software for managing, storing and retrieving information
        * Quality control is easier because you need to explicitly set the data type
        Easier to download and manage than MySQL but similar enough that if you understand SQLite commands, you will understand MySQL commands
        * Used primarily for data analysis (and android phones)
        * Raw data can be imported from good-old csv files which can then be sliced up to generate a myriad of summary reports. Python comes with SQLite built in and R can download an adapter (so it is compatible with the two other programs you may have learned about so far...)
        * The same thing can be done with an enterprise client/server database (ie. MySQL), of course. The advantage of SQLite is that it is easier to install and use and the resulting database is a single file that can be written to a USB memory stick or emailed to a colleague.  
        * some things about SQlite:
               * SQL is (surprisingly) a case insensitive language (remember that R and Python are both case sensitive)
               * However, for readability sake you should follow the convention of writing commands in all CAPITALS

Great resource: https://www.sqlitetutorial.net/
---------------------------------------------

Some terms you will need to know:
---------------------------------------------

* primary key: a column (or, occasionally multiple columns) that uniquely identify a record. A table can only have ONE primary key. Example: Social Security numbers uniquely identify you!
    
* foreign key: a column in one table that references the primary key column of a different table. It acts as a connection between tables. There can be more than one foreign key per table.

![Primary versus Foreign](https://github.com/DAP2022/DataScienceTrainingCurriculum/raw/main/programming/pythonii/course_content_jupyter_notebooks/images/primary_versus_foreign.png)

### what are we going to do?

 1. create a database
 2. use an existing database - add a table to it
 3. Use common query commands to manipulate the data in the tables
 4. We don't need to create 'views' of the data like we do when we use SQLiteStudio IDE since pandas can do that for that (it allows us to export data as a csv file etc).

In [ ]:
# the sqlite 'stack'. We will see that we often use pandas dataframes
# because they are awesome.
import pandas as pd
import numpy as np
import sqlite3 as sql

1. Create a database
---------------------
https://docs.python.org/3/library/sqlite3.html

 1. create a database object, a 'connection object'
 2. create a cursor object from the connection object.
    The cursor object has methods
 3. use cursor object to manipulate database <-- this is where
    we will learn about query commands
 4. commit any changes to the connection object
 5. close connection object

In [ ]:
# create a database object - this database does not yet exist
#--------
# Note: Once this database has been created within the Example_1_2024 database, running this command a second time will cause an
# exception/error. Therefore, you should hash this cell out the next time you are running this notebook!
#--------
#------------------------------------------------------------
# we are going to create it and fill it in with information
# This is a database that has only one table in it.
# In fact, you should be able to go the folder where this lecture
# is stored and see that- once you have executed the next line -
# that this now exists in the same path!
#------------------------------------------------------------

#conn1 = sql.connect("Example_1_2024.db")

#------------------------------------------------------------
# create a cursor object. dart is just a similar word as
# cursor so as to avoid confusion
#------------------------------------------------------------

#dart = conn1.cursor()

# create a table within this cursor object
#note: Primary key
#dart.execute('''CREATE TABLE dna(dna_id INTEGER PRIMARY KEY, sequence TEXT, annotation TEXT, GO TEXT, lab TEXT, copies INTEGER)''')

# Insert a row of data
#dart.execute('''INSERT INTO dna VALUES(1,'ACTCTAGA','This gene is involved in development','Gastrulation','Broad',3)''')
# Insert another row of data
#dart.execute('''INSERT INTO dna VALUES(2,'GCTAGA','This gene is an oncogene','cancer','JAX',2)''')
# Insert a third row of data
#dart.execute('''INSERT INTO dna VALUES(3,'TGCA','Pore Protein','transport','JAX',5)''')

# Save (commit) the changes to connection object
#conn1.commit()

# We can also close the connection object  if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#conn1.close()

#------------------------------
# I made this mistake myself as I learned to use the SQLite package instead of MySQL so I am going to draw attention to it:
# you can't open the database in Jupyter. If you do, it will simply give you an error message about UTF-8.
# This happens because you are trying to open a NON-FLAT file so you can't simply open it in a text editor,
# like Jupyter since it is a connection OBJECT!
#------------------------------

In [ ]:
# You can modify how you create the above database so that you don't
# have to hash out everything like so:
#DAP=sql.connect("Danni_Presgraves.db")
#cursor=DAP.cursor()
#cursor.execute('''CREATE TABLE IF NOT EXISTS dna(dna_id INTEGER PRIMARY KEY, sequence TEXT, annotation TEXT, GO TEXT, lab TEXT, copies INTEGER)''')
# Insert a row of data
#cursor.execute('''INSERT OR IGNORE INTO dna VALUES(1,'ACTCTAGA','This gene is involved in development','Gastrulation','Broad',3)''')
# Insert another row of data
#cursor.execute('''INSERT OR IGNORE INTO dna VALUES(2,'GCTAGA','This gene is an oncogene','cancer','JAX',2)''')
# Insert a third row of data
#cursor.execute('''INSERT OR IGNORE INTO dna VALUES(3,'TGCA','Pore Protein','transport','JAX',5)''')

#DAP.commit()

In [ ]:
# you can check to see that this table has been added to this new database, DAP
#df_check_dna= pd.read_sql_query("SELECT * FROM dna;",DAP)
#print(df_check_dna)

   dna_id  sequence                            annotation            GO  \
0       1  ACTCTAGA  This gene is involved in development  Gastrulation
1       2    GCTAGA              This gene is an oncogene        cancer
2       3      TGCA                          Pore Protein     transport

     lab  copies
0  Broad       3
1    JAX       2
2    JAX       5

In SQL/ite, we can query multiple tables that have a relationship to each other by taking advantage of primary and foreign keys:
* A primary key is unique to a table
* a foreign key
    - column that contains the primary key of another table in the database
    - doesn't have to be unique and can contain NULL elements
* primary and foreign keys are used to link tables together.

* AS FAR AS I CAN TELL (maybe this will change as I become more familiar with the pandas library), you get most of the functionality of SQLITE via the merge and concat and join commands in pandas....
    - you should still understand primary and foreign keys, though.

## What is a query?
* a statement that is a valid command to the database
* they have the following syntax:

COMMAND table_name(parameters)

By convention, the query 'clause' is always in capital letters despite the fact that SQLite itself is a case-insensitive language.

Queries allow us to communicate with the database by asking questions and having the resultant set return data relevant to the question.

We can use the sqlite3 module OR we can use pandas which will take us pretty far!

The major manipulations:
1. SELECT column_name FROM table_name ---> extracts columns (fields) from table or results from other query
    * we can select one column or multiple columns (separating them via ',')
2. APPEND - adds calculated fields to the results (easiest to use Pandas for this)
3. SORT - orders results by a specified column
4. FILTER - chooses records to include (True/False)
5. JOIN - marges/joins two or more tables together ( JOIN and can also use merge and concat methods in Pandas)
6. AGGREGATE (not a command, just a description) - combines rows ie. SUM, MAX, MIN, AVERAGE

Precedence Rules for SQL syntax:
WHERE data can be filtered (columns), GROUP BY data can be joined in groups (used with SELECT), HAVING we can select some of the these data (used with aggregate functions) and finally, SELECT.

In [ ]:
# I will probably ignore this example and prioritize the example underneath
#------------------------------
# Access the one table in the database that was created above
# and retrieve information from it!
#------------------------------
#database_2024="Example_1_2024.db"
# create a connection object to the database
#connect_1=sql.connect(database_2024)
# I could remove 'limit 2' from this selection statement since
# it is such a small table but I put it here just so you know
# how to use it!
# create strings - you can also just put these directly as an argument
# we'll use both ways in the cells of this notebook.
# -----------------
#query_1='''SELECT * FROM dna LIMIT 2'''
# another query
#query_2 = '''SELECT SUM(copies) FROM dna'''
# yet another query....
#query_3 = '''SELECT * FROM dna WHERE lab="UR"'''
#query_4= '''SELECT * FROM dna WHERE copies>2 ORDER BY copies'''
# let's have a peek, shall we?
#-----------------
# WE ARE USING PANDAS METHOD HERE!
#df_1=pd.read_sql_query(query_1,connect_1)
#print("~~~~~~~~~~~~~~")
#print(df_1)
#print("--------------")
#for second query now
#df_2=pd.read_sql_query(query_2,connect_1)
#print("~~~~~~~~~~~~~~")
#print(df_2)
#print("--------------")
#df_3=pd.read_sql_query(query_3,connect_1)
#print("~~~~~~~~~~~~~~")
#print(df_3)
#print("--------------")
#df_4=pd.read_sql_query(query_4,connect_1)
#print("~~~~~~~~~~~~~~")
#print(df_4)
#print("--------------")
# remember we can always use pandas head function to peek.
#df_4.head()
#let's export this 'VIEW' to our mypython files:
# Remember that slashes will be opposite for Windows users
#export_csv = df_4.to_csv (r'export_dataframe_VIEW_4.csv', index = None, header=True)
#connect_1.close()

~~~~~~~~~~~~~~
   dna_id  sequence                            annotation            GO  \
0       1  ACTCTAGA  This gene is involved in development  Gastrulation
1       2    GCTAGA              This gene is an oncogene        cancer

     lab  copies
0  Broad       3
1    JAX       2
--------------
~~~~~~~~~~~~~~
   SUM(copies)
0           10
--------------
~~~~~~~~~~~~~~
Empty DataFrame
Columns: [dna_id, sequence, annotation, GO, lab, copies]
Index: []
--------------
~~~~~~~~~~~~~~
   dna_id  sequence                            annotation            GO  \
0       1  ACTCTAGA  This gene is involved in development  Gastrulation
1       3      TGCA                          Pore Protein     transport

     lab  copies
0  Broad       3
1    JAX       5
--------------

Now we are going to access a complicated data base called "JAX2024_Desert_data.db". The database can be found on Canvas but it is originally from here: http://esapubs.org/archive/ecol/E090/118/

This database contains three tables:

1. Desert_ecol_info
2. plots
3. species_info

In [ ]:
# IGNORE THIS CELL FOR NOW
# 2. Basic meta-data access - table and column names, access
# an already created database and add a table to it
import sqlite3 as db
# Here is the database. You can place it wherever you want - but remember to place it
# in the folder for this lecture if you don't want to have write out the whole file path.
# If you need a reminder about file paths, here you go:
connection_desert=db.connect("JAX2024_Desert_data.db")

#establish a 'cursor' that allows us to execute SQLite
# queries/commands
#cursor=connection_desert.cursor()
# -----------------------------------------
# we can ADD a table to this database. To keep it simple, let's add the same table to this database as the one above
# NOTE: YOU CAN'T RUN THIS MORE THAN ONCE, YOU WILL NEED TO HASH IT OUT ONCE IT IS ADDED TO THE DATABASE
# -----------------------------------------
#cursor.execute('''CREATE TABLE dna(dna_id INTEGER PRIMARY KEY, sequence TEXT, annotation TEXT, GO TEXT, lab TEXT, copies INTEGER)''')
# Insert a row of data
#cursor.execute('''INSERT INTO dna VALUES(1,'ACTCTAGA','This gene is involved in development','Gastrulation','Broad',3)''')
# Insert another row of data
#cursor.execute('''INSERT INTO dna VALUES(2,'GCTAGA','This gene is an oncogene','cancer','UR',2)''')
# Insert a third row of data
#cursor.execute('''INSERT INTO dna VALUES(3,'TGCA','Pore Protein','transport','UR',5)''')
# -----------------------------------------
#let's peek at the tables to make sure we are correct about their
# names:  This simple request caused me to dive into stackoverflow
# to figure out a much easier solution. This is the boilerplate
# that works and is from two places mushed together:
# https://stackoverflow.com/questions/31208860/how-to-display-all-the-tables-created-in-sqlite-database-on-python3
# https://likegeeks.com/python-sqlite3-tutorial/#List-tables
# Aside: Why are there so many websites that use geeks in the name?
# The basic strategy is to use sqlite_master- which is a built
# in "metadata" table used by the sqlite3 package and then use the
# fetchall() function to display the results.
# fetchall() returns a list and is slow so you could do a similar
# and more efficient thing by iterating over the cursor. However
# this example allows us to see fetchall() in action....
# -----------------------------------------
# First way of getting names of tables:
#def sql_fetch(curse):
#    curse.execute('SELECT name from sqlite_master where type= "table"')
#    print("In the sql_fetch function, we get a list of table names: ")
#    print("---------")
    #this will print a list of names of tables included in the database
#    print(curse.fetchall())

#remember to call the function and pass in the cursor
#sql_fetch(cursor)
#print("************************************************")

#Second way of getting names of tables (not in a neat and tidy list, though):
#res = cursor.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")

#for name in res:
#    print("Table is called: ")
#    print(name[0])
#    print("-----------------")

# -----------------------------------------
# Now, we also want to make sure we can see all the column names so we get a sense of the structure of the tables:
# in this case we want to know what is in the species_info table
#table_name="species_info"
#cursor.execute('PRAGMA TABLE_INFO({})'.format(table_name))
# collect names in a list
#names = [tup[1] for tup in cursor.fetchall()]
#print(names)

# -----------------------
# you can also get the column information from a particular table via the following
# method - Note: I have changed tables here to the plots table:
#print("plots table has the following columns: ")
#print("---------------------------------------")
#cursor.execute('SELECT * FROM plots')
#print(cursor.description)

#print("Desert_ecol_info table  has the following columns: ")
#print("---------------------------------------")
#cursor.execute('select * FROM Desert_ecol_info')
#print(cursor.description)

# -----------------------------------------
# Use the execute command that belongs to a cursor
# you are now free to use the same queries using execute() that you used in SQLiteStudio
#cursor.execute("SELECT species_id FROM Desert_ecol_info WHERE hindfoot_length >= 30;")
#myqueryrecords=cursor.fetchall()
#print out the records as a tuple and ask how long the record is that matches this criteria?
#print(len(myqueryrecords))
#-------------------------------------
#Note that you could also the fetchone() which fetches the results
# one-at-a-time. You would need to use
# a while loop to keep going until the result gave you None.
# I don't think that you can run fetchall() and
# fetchone() from the same query in the same cell so I have hashed
# out the fetchone() loop.
#-------------------------------------
#record2=cursor.fetchone()
#while record2!=None:
    #do_something_to(record)
#    print(cursor.fetchone())
#-------------------------------------

#-------------------------------------
#you can the do the same stuff via Jupyter that you did in SQLiteStudio. For instance, you can modify databases
#by using INSERT INTO or DELETE FROM commands within the execute method
# you would need to commit these database changes formally by using the following commit command:
#connection_desert.commit()
#cursor.close()
#connection_desert.close()

In [ ]:
# 3. Manipulating the table and constructing queries!
# ------------------------------------
#HERE IS SOMETHING SUPER COOL - YOU CAN SIMULTANEOUSLY READ IN SQL
# QUERY INTO PANDAS DATAFRAME. THIS IS SOOOOOOO MUCH EASIER TO
# HANDLE THAN THE EXECUTE METHOD
import pandas as pd

# we can see the methods in pd in the usual way, by typing
# pd. followed by tab and if
# we scroll down, we will see that there are specific sql_ commands: such as .read_sql_query
# ------------------------------------
pd.

SyntaxError: invalid syntax (1446215391.py, line 12)

In [ ]:
connection_desert=sql.connect("JAX2024_Desert_data.db")

In [ ]:
# You still need to remember to create a connection object
#connection_desert=db.connect("JAX2024_Desert_data.db")
# note that we want to return multiple columns in our return
#A: Display species and hindfoot length IF hindfoot length is greater than or equal to 30
print("--------- A (i) Conditions imposed on one column items ----------------")
dfA = pd.read_sql_query("SELECT species_id,hindfoot_length FROM Desert_ecol_info WHERE hindfoot_length >= 30;", connection_desert)
print(dfA)

--------- A (i) Conditions imposed on one column items ----------------
      species_id hindfoot_length
0             NL              32
1             NL              33
2             DM              37
3             DM              36
4             DM              35
...          ...             ...
20173         US
20174         AH
20175         AH
20176         DO              36
20177

[20178 rows x 2 columns]

In [ ]:
#A: Display species and hindfoot length IF hindfoot
# length is greater than or equal to 30 and **ORDER BY** the length
print("--------- A (ii) use ORDER BY ----------------")
dfA2 = pd.read_sql_query("SELECT species_id,hindfoot_length FROM Desert_ecol_info WHERE hindfoot_length >= 30 ORDER BY hindfoot_length;", connection_desert)
print(dfA2)

--------- A (ii) use ORDER BY ----------------
      species_id hindfoot_length
0             DM              30
1             DM              30
2             PE              30
3             NL              30
4             NL              30
...          ...             ...
20173         US
20174         US
20175         AH
20176         AH
20177

[20178 rows x 2 columns]

In [ ]:
# B: What if we only want to include Dipodomys merriami - NOTE:YOU MUST USE '' INSTEAD OF "" IN THESE QUERIES
print("---------- B ---------------")
dfB =pd.read_sql_query("SELECT species_id FROM Desert_ecol_info WHERE species_id ='DM';", connection_desert)
print(dfB)
#C: Combine some requirements: We want Dipodomys merriami collected only after the year 2000 and to show all the columns
print("---------- C build combos of requirements ---------------")
dfC=pd.read_sql_query("SELECT * FROM Desert_ecol_info WHERE (species_id = 'DM') AND (year>=2000);", connection_desert)
print(dfC)
#D: We can display a single columns
print("---------- D We can display only particular columns --------------")
dfD=pd.read_sql_query("SELECT weight FROM Desert_ecol_info;", connection_desert)
print(dfD)
# E: slightly fancier - as long as your data type allows for it, you can use built in functions on your query
# ------------------------------------
# AND EVEN ADD A NEW CALCULATED COLUMN!
# ------------------------------------
# Note: your data will need to be real or decimal type - this won't work with integer data
print("----------- E A CALCULATED COLUMN HAS BEEN ADDED--------------")
dfE=pd.read_sql_query("SELECT plot_id, species_id,sex, weight, ROUND(weight/1000.0,4) AS weight_kg FROM Desert_ecol_info;", connection_desert)
print(dfE)

---------- B ---------------
      species_id
0             DM
1             DM
2             DM
3             DM
4             DM
...          ...
10591         DM
10592         DM
10593         DM
10594         DM
10595         DM

[10596 rows x 1 columns]
---------- C build combos of requirements ---------------
     record_id  month  day  year  plot_id species_id sex hindfoot_length  \
0        30162      1    8  2000        1         DM   M              36
1        30179      1    8  2000       12         DM   M              36
2        30196      1    8  2000       17         DM   M              37
3        30197      1    8  2000       17         DM   F              34
4        30210      1    8  2000       22         DM   M              38
..         ...    ...  ...   ...      ...        ...  ..             ...
842      35533     12   31  2002       14         DM   F              36
843      35534     12   31  2002       14         DM   M              37
844      35535     12   31  2002       14         DM   M              37
845      35536     12   31  2002       14         DM   F              35
846      35537     12   31  2002       14         DM   F              36

    weight
0       50
1       60
2       52
3       43
4       56
..     ...
842     48
843     56
844     53
845     42
846     46

[847 rows x 9 columns]
---------- D We can display only particular columns --------------
      weight
0
1
2
3
4
...      ...
35544
35545
35546     14
35547     51
35548

[35549 rows x 1 columns]
----------- E A CALCULATED COLUMN HAS BEEN ADDED--------------
       plot_id species_id sex weight  weight_kg
0            2         NL   M             0.000
1            3         NL   M             0.000
2            2         DM   F             0.000
3            7         DM   M             0.000
4            3         DM   M             0.000
...        ...        ...  ..    ...        ...
35544       15         AH                 0.000
35545       15         AH                 0.000
35546       10         RM   F     14      0.014
35547        7         DO   M     51      0.051
35548        5                            0.000

[35549 rows x 5 columns]

IS NOT NULL is a command that doesn't work with this data set. You should still know about it because it will work with other data sets but the way this particular data set is coded means that missing data isn't read in as a null value, it is read in as ''(empty). This means that asking for the view to not return any null values should involve the following command:
species_id IS NOT "" instead of the more common species_id IS NOT NULL.

In [ ]:
d_Null_TEST=pd.read_sql_query("SELECT plot_id, species_id,sex, weight, ROUND(weight/1000.0,4) AS weight_kg FROM Desert_ecol_info WHERE (species_id IS NOT NULL);", connection_desert)
print(d_Null_TEST)
Null_Test_ret = pd.read_sql_query("SELECT plot_id, species_id,sex, weight, ROUND(weight/1000.0,4) AS weight_kg FROM Desert_ecol_info WHERE (species_id IS NULL);", connection_desert)
print(Null_Test_ret)
d_Empty=pd.read_sql_query("SELECT plot_id, species_id,sex, weight FROM Desert_ecol_info WHERE (species_id IS NOT '');", connection_desert)
print(d_Empty)

       plot_id species_id sex weight  weight_kg
0            2         NL   M             0.000
1            3         NL   M             0.000
2            2         DM   F             0.000
3            7         DM   M             0.000
4            3         DM   M             0.000
...        ...        ...  ..    ...        ...
35544       15         AH                 0.000
35545       15         AH                 0.000
35546       10         RM   F   14.0      0.014
35547        7         DO   M   51.0      0.051
35548        5                            0.000

[35549 rows x 5 columns]
Empty DataFrame
Columns: [plot_id, species_id, sex, weight, weight_kg]
Index: []
       plot_id species_id sex weight
0            2         NL   M
1            3         NL   M
2            2         DM   F
3            7         DM   M
4            3         DM   M
...        ...        ...  ..    ...
34781       15         US
34782       15         AH
34783       15         AH
34784       10         RM   F   14.0
34785        7         DO   M   51.0

[34786 rows x 4 columns]

In [ ]:
# Note: this is bad practice but I have so many queries to show you on the same data set
# that I am breaking them  up over multiple cells inside of closing connections etc
# in the same cell!
# ------------------------------------
# F: We can remove NULL elements but we need to use that as the boolean condition, like this:
# THIS is the conventional way to use IS NOT NULL but it doesn't work with this
# particular data set.:()
print("----------- F (i) Remove Null items with IS NOT NULL  --------------")
dfFi=pd.read_sql_query("SELECT plot_id, species_id,sex, weight, ROUND(weight/1000.0,4) AS weight_kg FROM Desert_ecol_info WHERE (species_id = 'DM' AND species_id IS NOT NULL) AND (year>=2000) AND (weight_kg > 0.0) ORDER BY weight_kg;", connection_desert)
print(dfFi)

----------- F (i) Remove Null items with IS NOT NULL  --------------
     plot_id species_id sex  weight  weight_kg
0         12         DM   M    18.0      0.018
1         17         DM   M    20.0      0.020
2         17         DM   F    21.0      0.021
3         14         DM   M    21.0      0.021
4          9         DM   F    22.0      0.022
..       ...        ...  ..     ...        ...
821        2         DM   F    60.0      0.060
822        4         DM   F    60.0      0.060
823        9         DM   F    60.0      0.060
824       12         DM   F    60.0      0.060
825        9         DM   F    64.0      0.064

[826 rows x 5 columns]

In [ ]:
print("----------- F (iI) How many items disappeared when Weight >0.000?  --------------")
# how many rows have disappeared when we imposed the non-zero value for weight_kg?
dfFii=pd.read_sql_query("SELECT plot_id, species_id,sex, weight, ROUND(weight/1000.0,4) AS weight_kg FROM Desert_ecol_info WHERE (species_id = 'DM' AND species_id IS NOT NULL) AND (year>=2000);", connection_desert)
print(dfFii)
# Example of filtering with in WHERE clause with BETWEEN lower and upper * note * this only prints
# out the first 1000 rows as a default so it may not be apparent that it is still matching criteria
print("----------- G  BETWEEN --------------")
dfG=pd.read_sql_query("SELECT year, record_id,species_id,sex,hindfoot_length FROM Desert_ecol_info WHERE species_id = 'DM' AND year BETWEEN 1999 AND 2002;", connection_desert)
print(dfG)
# You can allow some flexibility in your values by using LIKE in the WHERE clause along
# with the two WILDCARDS: % and _
# '_' can substitute for any single character
print("----------- H (i)  Filtering with single character substitute '_' --------------")
dfHi=pd.read_sql_query("SELECT year, record_id,species_id,sex,hindfoot_length FROM Desert_ecol_info WHERE species_id LIKE 'D_' AND year BETWEEN 1999 AND 2002;", connection_desert)
print(dfHi)
# '%' is a bit confusing because it is a string so even when you use it with numbers, you need
# the ''. YOU ALSO NEED TO USE LIKE IN A VERY PARTICULAR SYNTAX WHEN USED WITH BETWEEN.
# An example is given below:
print("----------- H (ii)  Filtering with '%'which allows for zero of more of the character and BETWEEN --------------")
dfHii=pd.read_sql_query("SELECT year, record_id,species_id,sex,hindfoot_length FROM Desert_ecol_info WHERE species_id LIKE 'DM' AND year BETWEEN 1999 AND '2%';", connection_desert)
print(dfHii)
# Here is a second example of the '%' WILDCARD, how it is normally seen:
print("----------- H (iii)  Filtering with just LIKE and '%' --------------")
dfHiii=pd.read_sql_query("SELECT year, record_id,species_id,sex,hindfoot_length FROM Desert_ecol_info WHERE species_id='DM' AND year LIKE '199%' ;", connection_desert)
print(dfHiii)
# Here is a second example of the '%' WILDCARD, how it is normally seen:
print("----------- H (iii)  Filtering with just LIKE and '%' --------------")
dfHiii=pd.read_sql_query("SELECT year, record_id,species_id,sex,hindfoot_length FROM Desert_ecol_info WHERE species_id='DM' AND year LIKE '199%' ;", connection_desert)
print(dfHiii)

----------- F (iI) How many items disappeared when Weight >0.000?  --------------
     plot_id species_id sex weight  weight_kg
0          1         DM   M   50.0      0.050
1         12         DM   M   60.0      0.060
2         17         DM   M   52.0      0.052
3         17         DM   F   43.0      0.043
4         22         DM   M   56.0      0.056
..       ...        ...  ..    ...        ...
842       14         DM   F   48.0      0.048
843       14         DM   M   56.0      0.056
844       14         DM   M   53.0      0.053
845       14         DM   F   42.0      0.042
846       14         DM   F   46.0      0.046

[847 rows x 5 columns]
----------- G  BETWEEN --------------
      year  record_id species_id sex hindfoot_length
0     1999      29024         DM   F              33
1     1999      29025         DM   F              35
2     1999      29026         DM   M              35
3     1999      29036         DM   M              36
4     1999      29037         DM   M              37
...    ...        ...        ...  ..             ...
1190  2002      35533         DM   F              36
1191  2002      35534         DM   M              37
1192  2002      35535         DM   M              37
1193  2002      35536         DM   F              35
1194  2002      35537         DM   F              36

[1195 rows x 5 columns]
----------- H (i)  Filtering with single character substitute '_' --------------
      year  record_id species_id sex hindfoot_length
0     1999      29024         DM   F              33
1     1999      29025         DM   F              35
2     1999      29026         DM   M              35
3     1999      29027         DO   M              36
4     1999      29028         DO   F              33
...    ...        ...        ...  ..             ...
1711  2002      35534         DM   M              37
1712  2002      35535         DM   M              37
1713  2002      35536         DM   F              35
1714  2002      35537         DM   F              36
1715  2002      35548         DO   M              36

[1716 rows x 5 columns]
----------- H (ii)  Filtering with '%'which allows for zero of more of the character and BETWEEN --------------
      year  record_id species_id sex hindfoot_length
0     1999      29024         DM   F              33
1     1999      29025         DM   F              35
2     1999      29026         DM   M              35
3     1999      29036         DM   M              36
4     1999      29037         DM   M              37
...    ...        ...        ...  ..             ...
1190  2002      35533         DM   F              36
1191  2002      35534         DM   M              37
1192  2002      35535         DM   M              37
1193  2002      35536         DM   F              35
1194  2002      35537         DM   F              36

[1195 rows x 5 columns]
----------- H (iii)  Filtering with just LIKE and '%' --------------
      year  record_id species_id sex hindfoot_length
0     1990      16879         DM   F              37
1     1990      16912         DM   M              37
2     1990      16914         DM   M
3     1990      16930         DM   M              37
4     1990      16935         DM   M              37
...    ...        ...        ...  ..             ...
4069  1999      30135         DM   M              35
4070  1999      30136         DM   M              37
4071  1999      30137         DM   M              35
4072  1999      30147         DM   M              36
4073  1999      30149         DM   M              34

[4074 rows x 5 columns]
----------- H (iii)  Filtering with just LIKE and '%' --------------
      year  record_id species_id sex hindfoot_length
0     1990      16879         DM   F              37
1     1990      16912         DM   M              37
2     1990      16914         DM   M
3     1990      16930         DM   M              37
4     1990      16935         DM   M              37
...    ...        ...        ...  ..             ...
4069  1999      30135         DM   M              35
4070  1999      30136         DM   M              37
4071  1999      30137         DM   M              35
4072  1999      30147         DM   M              36
4073  1999      30149         DM   M              34

[4074 rows x 5 columns]

In [ ]:
# Onwards to ever-so-slightly more interesting commands.
# We are switching to assess and manipulate elements in the species_info table now.
#Remember species_info has the following columns: ['species_id', 'genus', 'species', 'taxa']
# SORT using ORDER BY - which is saw in the cells above already:
print("----------- I   ASC means ASCENDING, DESC means DESCENDING order --------------")
dfI=pd.read_sql_query("SELECT genus, species, species_id FROM species_info WHERE taxa='Bird' ORDER BY species_id DESC;", connection_desert)
print(dfI)
print("----------- J  ORDER BY refresher, you can add DESC at the end of the query --------------")
dfJ=pd.read_sql_query("SELECT genus,species FROM species_info ORDER BY genus;", connection_desert)
print(dfJ)

----------- I   ASC means ASCENDING, DESC means DESCENDING order --------------
              genus          species species_id
0           Zenaida         macroura         ZM
1       Zonotrichia       leucophrys         ZL
2           Sparrow              sp.         US
3            Pipilo              sp.         UP
4          Spizella          breweri         SB
5            Pipilo           fuscus         PU
6         Pooecetes        gramineus         PG
7            Pipilo        chlorurus         PC
8        Callipepla         squamata         CQ
9       Calamospiza      melanocorys         CM
10  Campylorhynchus  brunneicapillus         CB
11       Ammodramus       savannarum         AS
12       Amphispiza        bilineata         AB
----------- J  ORDER BY refresher, you can add DESC at the end of the query --------------
               genus          species
0         Ammodramus       savannarum
1   Ammospermophilus          harrisi
2         Amphispiza        bilineata
3            Baiomys          taylori
4        Calamospiza      melanocorys
5         Callipepla         squamata
6    Campylorhynchus  brunneicapillus
7        Chaetodipus          baileyi
8        Chaetodipus      intermedius
9        Chaetodipus     penicillatus
10       Chaetodipus              sp.
11     Cnemidophorus           tigris
12     Cnemidophorus        uniparens
13          Crotalus       scutalatus
14          Crotalus          viridis
15         Dipodomys         merriami
16         Dipodomys            ordii
17         Dipodomys      spectabilis
18         Dipodomys              sp.
19           Eumeces        obsoletus
20          Gambelia            silus
21            Lizard              sp.
22           Neotoma         albigula
23           Neotoma              sp.
24         Onychomys      leucogaster
25         Onychomys         torridus
26         Onychomys              sp.
27       Perognathus           flavus
28       Perognathus         hispidus
29        Peromyscus         eremicus
30        Peromyscus         leucopus
31        Peromyscus      maniculatus
32            Pipilo        chlorurus
33            Pipilo           fuscus
34            Pipilo              sp.
35         Pooecetes        gramineus
36   Reithrodontomys       fulvescens
37   Reithrodontomys        megalotis
38   Reithrodontomys         montanus
39   Reithrodontomys              sp.
40            Rodent              sp.
41        Sceloporus           clarki
42        Sceloporus        undulatus
43          Sigmodon      fulviventer
44          Sigmodon         hispidus
45          Sigmodon     ochrognathus
46          Sigmodon              sp.
47           Sparrow              sp.
48      Spermophilus        spilosoma
49      Spermophilus     tereticaudus
50          Spizella          breweri
51        Sylvilagus        audubonii
52           Zenaida         macroura
53       Zonotrichia       leucophrys

In [ ]:
print("We return to the Desert_ecol_info database: ")
print("----------- K  AGGREGATE FUNCTIONS: MIN, MAX, SUM, AVG  --------------")
print("K(i): How many rows are there? ")
dfKi=pd.read_sql_query("SELECT COUNT(record_id) FROM Desert_ecol_info;", connection_desert)
print(dfKi)
print("K(ii): How much do individuals weight? ")
dfKii=pd.read_sql_query("SELECT COUNT(*),SUM(weight) FROM Desert_ecol_info;", connection_desert)
print(dfKii)
print("K(iii): How many individuals are in each species? ")
dfKiii=pd.read_sql_query("SELECT species_id, COUNT(*),SUM(weight) FROM Desert_ecol_info GROUP BY species_id;", connection_desert)
print(dfKiii)
print("K(iv): revisit the ROUND() function from earlier")
dfKiv=pd.read_sql_query("SELECT ROUND(SUM(weight)/1000.0,4) FROM Desert_ecol_info;", connection_desert)
print(dfKiv)
print("K(v): using keyword like HAVING COUNT")
dfKv=pd.read_sql_query("SELECT species_id, COUNT(species_id) FROM Desert_ecol_info GROUP BY species_id HAVING COUNT(species_id)>10 ORDER BY COUNT(species_id);", connection_desert)
print(dfKv)

We return to the Desert_ecol_info database:
----------- K  AGGREGATE FUNCTIONS: MIN, MAX, SUM, AVG  --------------
K(i): How many rows are there?
   COUNT(record_id)
0             35549
K(ii): How much do individuals weight?
   COUNT(*)  SUM(weight)
0     35549    1377594.0
K(iii): How many individuals are in each species?
   species_id  COUNT(*)  SUM(weight)
0                   763          0.0
1          AB       303          0.0
2          AH       437          0.0
3          AS         2          0.0
4          BA        46        387.0
5          CB        50          0.0
6          CM        13          0.0
7          CQ        16          0.0
8          CS         1          0.0
9          CT         1          0.0
10         CU         1          0.0
11         CV         1          0.0
12         DM     10596     442886.0
13         DO      3027     141920.0
14         DS      2504     281586.0
15         DX        40          0.0
16         NL      1252     183451.0
17         OL      1006      30628.0
18         OT      2249      52338.0
19         OX        12        126.0
20         PB      2891      89178.0
21         PC        39          0.0
22         PE      1299      27199.0
23         PF      1597      12265.0
24         PG         8          0.0
25         PH        32        963.0
26         PI         9        154.0
27         PL        36        689.0
28         PM       899      18715.0
29         PP      3123      51934.0
30         PU         5          0.0
31         PX         6         38.0
32         RF        75       1004.0
33         RM      2609      26833.0
34         RO         8         82.0
35         RX         2         31.0
36         SA        75          0.0
37         SC         1          0.0
38         SF        43       2414.0
39         SH       147      10314.0
40         SO        43       2272.0
41         SS       248        187.0
42         ST         1          0.0
43         SU         5          0.0
44         UL         4          0.0
45         UP         8          0.0
46         UR        10          0.0
47         US         4          0.0
48         ZL         2          0.0
K(iv): revisit the ROUND() function from earlier
   ROUND(SUM(weight)/1000.0,4)
0                     1377.594
K(v): using keyword like HAVING COUNT
   species_id  COUNT(species_id)
0          OX                 12
1          CM                 13
2          CQ                 16
3          PH                 32
4          PL                 36
5          PC                 39
6          DX                 40
7          SF                 43
8          SO                 43
9          BA                 46
10         CB                 50
11         RF                 75
12         SA                 75
13         SH                147
14         SS                248
15         AB                303
16         AH                437
17                           763
18         PM                899
19         OL               1006
20         NL               1252
21         PE               1299
22         PF               1597
23         OT               2249
24         DS               2504
25         RM               2609
26         PB               2891
27         DO               3027
28         PP               3123
29         DM              10596

# In class question:


1.	Using sqlite3, add a table to this existing database that includes researcher names (feel free to make some up), and other data     (cell below shows you how to add a table to a database)
 2
2.	Extract only the following information to the screen (a print statement is fine): species="PE", sex and where the animal was trapped. Remove any NULL elements. How many individuals meet these criteria3

3.	Only include the top 40 largest individual rodents. You will need to use the LIMIT command. The data should include species_id, year and weight and the individuals should be sorted in descending order (with any 'ties' broken based on hindfoot_length). Export the results to a file called: "Rodents_of_Unusual_size_YoueNam44.

4.	Write a query that results in the mean hindfoot_length for each species represented in the database.  The column for mean hindfoot_length will be called mean_length, have values with only 2 decimal places, there will be no null mean_length values and no 0 mean_length values should be included in the final res55t.

5.	Combine the Desert_ecol_info example table with a column that lists the taxonomy of the species shorthand (this will be in species_info table) and the information about the plot where the individual was sampled (plots table). Ensure that there is only one species_id and plot_id column included in the r66ult.

6.	Write a query that lists the date that the survey took place (year, month and day). DO NOT INCLUDE DUPLICATE DATES (hint: you will need to use the DISTINCT command which we didn't seein class).
troduced groups.

In [ ]:
# JOIN along with ON knits together the columns of two tables.
# ON is a bit like a filtering condition...
print("JOIN demo")
dfJoin=pd.read_sql_query("SELECT Desert_ecol_info.record_id,Desert_ecol_info.plot_id,Desert_ecol_info.species_id,species_info.genus,species_info.species,species_info.taxa FROM Desert_ecol_info JOIN species_info ON Desert_ecol_info.species_id=species_info.species_id;", connection_desert)
print(dfJoin)

JOIN demo
       record_id  plot_id species_id             genus    species    taxa
0              1        2         NL           Neotoma   albigula  Rodent
1              2        3         NL           Neotoma   albigula  Rodent
2              3        2         DM         Dipodomys   merriami  Rodent
3              4        7         DM         Dipodomys   merriami  Rodent
4              5        3         DM         Dipodomys   merriami  Rodent
...          ...      ...        ...               ...        ...     ...
34781      35544       15         US           Sparrow        sp.    Bird
34782      35545       15         AH  Ammospermophilus    harrisi  Rodent
34783      35546       15         AH  Ammospermophilus    harrisi  Rodent
34784      35547       10         RM   Reithrodontomys  megalotis  Rodent
34785      35548        7         DO         Dipodomys      ordii  Rodent

[34786 rows x 6 columns]

#####  How can we emulate merging on primary keys using pandas functions?
Here's a clear manual for merging pandas dataframes using keys.
https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/